/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
}
/*===== Colores =====*/
:root {
  --first-color: #3664F4;
  --dark-color: #070D1F;
  --mydark-color: #071d5e;
  --dark-color-alt: #282B3A;
  --white-color: #E6E7E9;
  --tanly:  #DADED4;
  --raisin-black: #28262C;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: 'Poppins', sans-serif;
  --normal-font-size: .938rem;
  --medium-font-size: 1.1rem;
  --small-font-size: .813rem;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
  }
}

/*===== z index =====*/
:root {
  --z-fixed: 100;
}

/*===== BASE =====*/
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
  background-color: var(--tanly);
  overflow-x: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--dark-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.3);
  z-index: 1000;
}

.header__logo {
  color: var(--white-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--white-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--dark-color);
    color: var(--white-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: .5s;
    transition: .5s;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
      grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
      grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: .25rem;
  background-color: var(--dark-color-alt);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: .25rem;
  margin-bottom: .8rem;
  width: 56px;
  height: 56px;
  background-color: var(--white-color);
  border-radius: 50%;
  overflow: hidden;
}

.nav__img img {
  width: 46px;
}

.nav__name {
  display: block;
  color: var(--white-color);
}

.nav__profesion {
  font-size: var(--small-font-size);
}

.nav__menu {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--white-color);
}

.nav__social {
  padding-top: .5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--white-color);
  margin-right: 1rem;
}

.nav__social-icon:hover {
  color: var(--first-color);
}

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--first-color);
}

@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }

  .header {
    height: calc(var(--header-height) + 1rem);
  }

  .header__logo, .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  
  .nav__content {
    -ms-grid-columns: (max-content)[2];
        grid-template-columns: repeat(2, -webkit-max-content);
        grid-template-columns: repeat(2, max-content);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
            column-gap: 1rem;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  
  .nav__close, .nav__profesion, .nav__social {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 .25rem;
  }
  
  .nav__link {
    padding: .3rem .8rem;
    border-radius: .25rem;
    display: inline-block;
  }
  .nav__link::after {
    content: '';
    display: block;
    width: 0;
	  height: 2px;
    background-color: var(--first-color);
    transition: width .3s;
  }

  .nav__link:hover::after{
    width: 100%;
	  transition:width .3s;
  }

  .active {
    background-color: var(--mydark-color);
    color: var(--first-color);
  }

  .nav__menu{
    margin-right: auto;
  }
}



@media screen and (min-width: 1024px) {
.bd-grid {
  margin-left: auto;
  margin-right: auto;
}
}

 /*===== SECTION =====*/
 .my-container{
  padding: 0 0.3rem;
 }


 .section-flex{
   display: flex;
   padding: 3rem 1rem;
   flex-direction: column;
   width: 100%;
}

 /*===== ABOUT =====*/
.about-section{
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 0.5rem;
}

.about-section h3{
   text-align: justify;
}

.about-grid{
  display: grid;
  padding: 0 1rem ;
  justify-content: center;
  align-items: center;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-gap: 20px;
}

.about-grid img{
  width: 100%;
  height: auto;
  border-radius: 10px;
  padding: 0 0.5rem;
}

h2{
  text-decoration: underline;
}

.items-titles{
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: column;
  margin-top: 3rem;
}

/*===== CONTACT =====*/
.contact-section{
  display: flex;
  padding: 1rem 2rem;
  width: 100%;
}




/*===== FOOTER =====*/
.footer{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--dark-color);
  margin-top: 1.5rem;
  color: var(--white-color);
}

.footer-title{
  font-size: 1.3rem;
}

.foot-socials{
  padding: 0.8rem;
  font-size: 1.4rem;
  color: var(--white-color);
}

.copyright{
  font-size: 1.1rem;
}

/*===== SMALL TABLET SIZE =====*/
@media screen and (min-width: 768px){
  .my-container{
    padding: 0 2rem;
  }
  
  .section-flex{
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    height: 100vh;
    grid-template-rows: repeat(3,160px);
  }
  
  .home-words{
    grid-column: 1/4;
    grid-row: 1/1;
    padding-left: 3rem;
    align-self: center;
    justify-self: end;
  }

  .home-words h1{
    font-size: 3rem;
  }
  .home-image{
    grid-column: 4/9;
    grid-row: 1/4;
    height: 500px;
    width: 480px;
    justify-self: center;
  }
  
  .home-image img{
    width: 100%;
    height: 100%;
  }

  .about-section,.section-flex,.about-grid{
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .about-grid{
    grid-template-columns: repeat(auto-fill, minmax(310px, 1fr));
    grid-gap: 20px;
  }
}

/*===== SHADOWS =====*/
.about-shadow{
  padding: 1rem;
	background: var(--tanly);
	border-radius: 15px;
	box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
				15px 15px 15px rgba(0,0,0,0.1);
}

.h2-shadow{
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.3rem;
  background: var(--tanly);
	border-radius: 15px;
	box-shadow: -15px -15px 15px rgba(255,255,255,0.2),
				15px 15px 15px rgba(0,0,0,0.1),
				inset -5px -5px 5px rgba(255,255,255,0.2),
				inset 5px 5px 5px rgba(0,0,0,0.1);
}
